  /* This make the album cover pic change with the screen */
  .container {
    display: grid;
    grid-gap: 5px;
    /* repeats, auto-fit: create a grid with responsive behavior minmax: is the minmax size of grid track */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 350px); 
  }
  /* for ablum cover pic */
  .container > div > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  /* for h1 container box*/
  .containerhead {
      color: white;
      background-color: black;
      width: 100%;
      height: 75px;
      opacity: .5 ;
      flex-wrap: wrap;
      text-align: center;
      font-size: 50px;
    }
    /* for h2 and info section boxes */
    .containerhead2 {
        color: white;
        background-color: black;
        width: 100%;
        height: 100%;
        opacity: .8 ;
        text-align: center;
        flex-wrap: warp;
       font-size: 15px;
      }
    
      footer {
        display: flex;
        flex-direction: row;
    }