body {
    background-image: url("/images/mtn.jpg");
    background-size: 150%;
    font-weight: 300;
}

.articalPersonal  {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 245, 238, 0.212);
    
}
.name-personal {
    display: flex;

}
.nameandPic-personal {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.bio-personal {
    margin-top: 5em;
    background-image: url("/images/nash.jpg");
    background-size: 100%;
}
.bio-personal p {
    background-color: rgba(255, 250, 250, 0.096);
}

.image-personal {
    width: 25em;
}
.family-personal {
    display: flex;
    flex-direction: column;
   
}

.spouse-personal {
    
}


.image-spouse {
    flex-direction: row;
    justify-content: space-evenly;
    align-self: flex-end;
    width: 30%;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 245, 238, 0.288);
    justify-content: center;
}

.socialMedia ul {
    display: flex;
    list-style-type: none;
    
    
}
.socialMedia ul li {
    width: 20em;
    flex-direction: row;
    justify-content: center;
    color: black;
}
a {
    color: blue;
}

a:visited {
    color: purple;
    font-weight: bolder;
}