.articalPersonal  {
    display: flex;
    flex-direction: column;
    
}
.nav-font {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.navigation-bar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.863);
   width: 100%;
    margin-left: -1em;
    margin-right: -1em;
    position: fixed;
}
.name-personal {
    display: flex;
    background-color: rgba(245, 205, 176, 0.521);

}
.nameandPic-personal {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.bio-personal {
    margin-top: 10em;
}

.image-personal {
    width: 25em;
}
.family-personal {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}

.spouse-personal {
    
}


.image-spouse {
    align-self: flex-end;
    width: 25em;
}

footer {
    display: flex;
    flex-direction: row;
}

.socialMedia ul {
    display: flex;
    
}
.socialMedia ul li {
    width: 20em;
    flex-direction: row;
    justify-content: space-evenly;
}

