*,*:before, *:after{
    box-sizing:border-box;
}
html {
    font-family: 'Times New Roman', Times, serif;
    box-sizing:border-box;
}
.nav-font {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.navigation-bar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.863);
   width: 100%;
    margin-left: -1em;
    margin-right: -1em;
    position: fixed;
}
.image{
    width: auto;
    justify-content: auto;

}
.artist-title-container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.wrapper {
    background-color: white;
    margin: -1.5em 7em -5em 7em;
    
}
#main{
    font-weight: bolder;
    font-size: large;
    padding-left: 0%;
}
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    justify-content: center;
}
.social-media {
     list-style-type: none;
      display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: black;
  
}
ul {
    justify-content: center;
     flex-direction: row;
     display: flex;
     list-style-type: none;
}
li {
     
     padding: 2em;
     font-size: 25px;
     color: black;
     
}
h2 {
    text-align: center;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
h3 {
    text-align: center;
}
.list {

  flex-wrap: wrap;
  justify-content: center;

  text-align: center;
  text-shadow: white 0px 0px 3px;
  color: white;
  
}

#artist {
  width: 30%;
  border: 1px dotted;
  padding: 0.1em;
  background-color: burlywood;
  justify-content: flex-start;
}

.flex-container {
    display: flex;
    width: 100%;
    background-color:#faebd7;

}
.flex-item{
    background-color: lightblue;
    flex: 1;
    margin: 1em;
}

.section-item{
    margin: 0 auto;
    width: 100%;
}
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    
}
.card-img-top{
    width: 300px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding:1em;
    margin:.5em;
    width: min-content;
   
}

.blue{
    background: black;
    padding: 1em;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
  }
  .text-center{
      text-align: center;
  }

  footer {
    display: flex;
    flex-direction: row;
}
