a {
    text-decoration: none;
      color: inherit;
}
.nav-font {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.navigation-bar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.863);
   width: 100%;
    margin-left: -1em;
    margin-right: -1em;
    position: fixed;
}
.body-container{
    margin: 0em,7em,7em,0em;
}
.logo {
    border: none;
    border-radius: 50%;
}
.image-background {
    background-image: url("https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg");
    margin: -1em;
}
.col-1{
    order: 1;
    display: flex;
}
.col-2{
    order:2;
    display: flex;
}
.quote-banner {
    background-color: rgb(0, 0, 0);
    padding: 0.5em;
    color:white
}
.artist-summary-background{
    background-image: url("https://images.pexels.com/photos/172292/pexels-photo-172292.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    margin:-1em;
    margin-top: 1em;
    padding: 1em;
}
.artist-summary{
    text-align: center;
    color: white;
    text-shadow: black 0px 0px 10px;
    font-size: 30px;
    font-family: Didot;
}
.section-2-index p{
    font-size: 15px;
    color: white;
    text-shadow: black 0px 0px 10px;
}


main {
    flex-wrap: wrap;
}
ul {
    list-style-type: none;
    display: flex;
    margin: 1px;
}
ul li {
    padding: 1em;
}
ul li a {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
   
}
ul li a:hover {
    color: wheat;
}
.index-section-1-image {
    width: 300px;
    height: 300px;
    border: none;
    Box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 50%;
    margin-top: 4em;
    margin: 1em;
    align-self: flex-end;
    flex-wrap: wrap;
}
.index-banner_image{
    display: inline-block;
        width: 46%;
        margin-top: 3em;
}
.index-banner_text{
    display: inline-block; 
    vertical-align: top;
    width: 25%;
    margin-left: 125px;
    margin-top: 100px;
    margin-right: 50px;
    font-size: 40px;
    font-family: "Hoefler Text";
}
.par-1-2-margins{
 margin-left: .5em;
 margin-right: .5em;
}

.section-2-index {
 flex-wrap: wrap;
}

.side-text-right {
   height: 325px;
}
.video-index {
    display: flex;
    justify-content: center;
}
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    justify-content: center;
}
.card-img-top{
    width: 300px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding:1em;
    margin:.5em;
    width: min-content;
    
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.text-center {
      text-align: center;
} 
.section-3 {
      color: white;
      background-color: rgba(0, 0, 0, 0.822);
      margin: -1em;
}
.container {
      padding: 1em;
      border: black solid 1em;
      justify-content: center;
      background-image: url("https://images.pexels.com/photos/172292/pexels-photo-172292.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.nash-text {
    font-size: 30px;
    margin-top: -.5em;
    margin: .5em;
}
.current-city {
    margin: -.5em;
}
footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: black;
    margin-left: -1em;
    margin-right: -1em;
}