

.navigation-bar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.863);
   width: 100%;
    margin-left: -1em;
    margin-right: -1em;
    position: fixed;
}
.body-container{
    margin: 0em,7em,7em,0em;
}
.logo {
    border: none;
    border-radius: 50%;
}
.image-background {
    background-image: url("https://coolbackgrounds.io/images/backgrounds/white/white-triangle-369b8d2d.jpg");
    margin: -1em;
}

.col-1{
    order: 1;
    display: flex;

}
.col-2{
    order:2;
    display: flex;

}
.quote-banner {
    background-color: rgba(0, 0, 0, 0.877);
    /* margin-left: -0.3em;
    margin-right: -0.3em; */
    padding: 0.5em;
    color:white;
}
.artist-summary-background{
    background-image: url("https://images.pexels.com/photos/172292/pexels-photo-172292.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    margin:-1em;
    margin-top: 1em;
    padding: 1em;
}
.fabric-image-background {
    background-image: url("https://images.pexels.com/photos/235525/pexels-photo-235525.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.artist-summary{
    text-align: center;
    color: white;
    text-shadow: black 0px 0px 10px;
    font-size: 30px;
    font-family: Didot;
}
.section-2-index p{
    font-size: 15px;
    color: white;
    text-shadow: black 0px 0px 10px;
}


main {
    flex-wrap: wrap;
}
ul {
    list-style-type: none;
    display: flex;
    margin: 1px;
}
ul li {
    padding: 1em;
}
ul li a {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
   
}
ul li a:hover {
    color: wheat;
}
.index-section-1-image {
    width: 300px;
    height: 300px;
    border: none;
    Box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 50%;
    margin-top: 4em;
    margin: 1em;
    align-self: flex-end;
    flex-wrap: wrap;
}
.index-banner_image{
    display: inline-block;
        width: 46%;
        margin-top: 3em;
}
.index-banner_text{
    display: inline-block; 
    vertical-align: top;
    width: 25%;
    margin-left: 100px;
    margin-top: 100px;
    font-size: 40px;
    font-family: "Hoefler Text";
  }

.section-2-index {
 flex-wrap: wrap;
}

.side-text-right {
   height: 325px;
}
.video-index {
    display: flex;
    justify-content: center;
}
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 2em;
    justify-content: center;
}
.card-img-top{
    width: 300px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding:1em;
    margin:.5em;
    width: min-content;
    
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .text-center {
      text-align: center;
<<<<<<< HEAD
  }
  /* This make the album cover pic change with the screen */
  .container {
    display: grid;
    grid-gap: 5px;
    /* repeats, auto-fit: create a grid with responsive behavior minmax: is the minmax size of grid track */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 350px); 
  }
  /* for ablum cover pic */
  .container > div > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  /* for h1 container box*/
  .containerhead {
      color: white;
      background-color: black;
      width: 100%;
      height: 75px;
      opacity: .5 ;
      flex-wrap: wrap;
      text-align: center;
      font-size: 50px;
    }
    /* for h2 and info section boxes */
    .containerhead2 {
        color: white;
        background-color: black;
        width: 100%;
        height: 100%;
        opacity: .8 ;
        text-align: center;
        flex-wrap: warp;
       font-size: 14px;
      }
    
      
     
=======
  } .section-3 {
      color: white;
      background-color: rgba(0, 0, 0, 0.822);
      margin: -1em;
  }
  .container {
      padding: 1em;
      border: black solid 1em;
      justify-content: center;
      background-image: url("https://images.pexels.com/photos/172292/pexels-photo-172292.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  }

>>>>>>> master

